<html>
  <head>
    <title> index </title>
    <!-- bootstrap -->
    <script src="/media/scripts/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/media/scripts/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/media/scripts/bootstrap.min.css">
    <link rel="stylesheet" href="/media/scripts/bootstrap-theme.min.css">
  </head>
  <body>
    <h1>pagina principal</h1>
    <a href="/logout/">cerrar sesion</a>

    <h1>usuario: {{aa}}</h1>
  </body>
</html>