<html>
  <head>
    <title> index </title>
    <!-- bootstrap -->
    <script src="/media/scripts/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/media/scripts/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/media/scripts/bootstrap.min.css">
    <link rel="stylesheet" href="/media/scripts/bootstrap-theme.min.css">
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="col-md-12">
        {% if user.is_authenticated %}
          <h1> hola {{user.username}} </h1>
        {% endif %}

        <a href="/logout/">cerrar sesion</a>
        <h1>pagina principal</h1>

        <div ng-app="" ng-init="firstName=''">
          <h3>Qué estás pensando ... </h3>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" name="publi" ng-model="firstName" >
          </div>
          <div class="input-group input-group-lg">
            <div class="btn-group btn-group-lg" role="group" aria-label="...">
              <button type="button" class="btn btn-default">Publicar!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>