<html ng-app="djangoAppAngular">
<head>
    <title> index </title>
    <!-- bootstrap -->
    <script src="/media/scripts/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/media/scripts/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/media/scripts/bootstrap.min.css">
    <link rel="stylesheet" href="/media/scripts/bootstrap-theme.min.css">
    <!-- angular.js -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="/media/scripts/app.js" type="text/javascript"></script>
</head>
<body ng-controller="mainController">
<div class="container">
    <div class="col-md-12">
        {% if user.is_authenticated %}
        <h1> hola {{user.username}} </h1>
        {% endif %}

        <a href="/logout/">cerrar sesion</a>

        <h1>pagina principal</h1>

        <div>
            <h3>Qué estás pensando ... </h3>

            <form action="/" method="post">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" name="publi" ng-model="publicacion.publi">
                </div>
                <div class="input-group input-group-lg">
                    <div class="btn-group btn-group-lg" role="group" aria-label="...">
                        <input type="submit" ng-click="save(publicacion)" class="btn btn-default" value="publicar!"/>
                    </div>
                </div>
            </form>

            <table>
                <thead>
                <tr>
                    <td style="font-weight: bold;">publicacion</td>
                    <td style="font-weight: bold;">likes</td>
                    <td style="font-weight: bold;">fecha</td>
                </tr>
                </thead>
                <tbody> <!-- foreach -->
                <tr ng-repeat="item in data">
                    <td>{$item.contenidoPubli$}</td>
                    <td>{$item.numeroLikesPubli}</td>
                    <td>{$item.fechaPubli}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
